.header {
    font-size: 800%;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    margin-top: 27%;
    margin-bottom: 10%;
}

.button {
    font-size: 400%;
    width: 40%;
    height: 8%;
    align-items: stretch;
    align-self: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    margin-top: 5%;
}

.logo {
    align-self: center;
    margin-top: 10%;
    font-size: 450%;
}
